[Desktop Entry]
Version=1.0
Type=Application
Name=Cria Memoria Virtual
Comment=Habilita memoria virtual para sistemas com pouca memoria
Exec=/home/kali/cria_arquivo_memoria_swap.sh
Icon=drive-multidisk
Path=/home/kali
Terminal=true
StartupNotify=false
