[Desktop Entry]
Version=1.0
Type=Application
Name=Virtual Memory
Comment=Enables virtual memory (swap)
Exec=/home/kali/cria_arquivo_memoria_swap.sh
Icon=drive-multidisk
Path=/home/kali
Terminal=true
StartupNotify=false
