[Desktop Entry]
Version=1.0
Type=Application
Name=IPED - CSAM Triage
Comment=Realiza uma indexacao e processamento parcial dos discos
Exec=/usr/local/bin/iped/IPED-CSAM-triage.sh
Icon=/home/kali/Pictures/analisador.png
Path=/usr/local/bin/iped/
Terminal=true
StartupNotify=false
