[Desktop Entry]
Version=1.0
Type=Application
Name=IPED - Somente Ativos
Comment=
Exec=/usr/local/bin/iped/IPED-fastmode-ativos.sh
Icon=/home/kali/Pictures/iped.png
Path=/usr/local/bin/iped/
Terminal=true
StartupNotify=false
