[Desktop Entry]
Version=1.0
Type=Application
Name=IPED Launcher
Comment=Permite a selação de perfis e alvos a serem processados no IPED
Exec=python /usr/local/bin/iped/iped_launcher_qt.py
Icon=/home/kali/Pictures/analisador.png
Path=/usr/local/bin/iped/
Terminal=false
StartupNotify=false
