[Desktop Entry]
Version=1.0
Type=Application
Name=LED - Escolher Midia
Comment=Executa o LED solicitando a pasta a ser vasculhada
Exec=/usr/local/bin/LED/start-led_selecionar.sh
Icon=/home/kali/Pictures/led.png
Path=/usr/local/bin/LED
Terminal=false
StartupNotify=false
