[Desktop Entry]
Version=1.0
Type=Application
Name=Mounts VSS Windows
Comment=Mounts Windows Volume Shadow Copys (VSS) if detected
Exec=/home/kali/mount_windows_shadows.sh
Icon=drive-multidisk
Path=/home/kali
Terminal=false
StartupNotify=false
