[Desktop Entry]
Version=1.0
Type=Application
Name=Nudetective
Comment=Nudetective
Exec=/usr/local/bin/NuDetective/nudetective.sh
Icon=/home/kali/Pictures/nudetective.jpg
Path=/usr/local/bin/NuDetective/
Terminal=false
StartupNotify=false
GenericName=Nudetective
