# Live Image (UEFI boot)
source /boot/grub/config.cfg

menuentry "Sistema Live (@FLAVOUR_LIVE@ Modo Forense NVIDIA ou AMD) Portugues-BR" {
        linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount modprobe.blacklist=nouveau locales=pt_BR
        initrd @INITRD_LIVE@
}
menuentry "Sistema Live (@FLAVOUR_LIVE@ Modo Forense SEGURO - desabilita driver NVIDIA) Portugues-BR" {
        linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount nonvidia locales=pt_BR
        initrd @INITRD_LIVE@
}
menuentry "Live system (@FLAVOUR_LIVE@ Forensic Mode NVIDIA or AMD) English" {
        linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount modprobe.blacklist=nouveau
        initrd @INITRD_LIVE@
}
menuentry "Live system (@FLAVOUR_LIVE@ Forensic Mode SAFE - disable NVIDIA driver) English" {
        linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount nonvidia
        initrd @INITRD_LIVE@
}

# Live boot
@LINUX_LIVE@

# Installer (if any)
if @ENABLE_INSTALL_MENU@; then

source  /boot/grub/install_start.cfg

if [ ! -e /boot/grub/install.cfg ]; then
menuentry "Start installer with speech synthesis" {
        linux @KERNEL_GI@ speakup.synth=soft @APPEND_GI@
        initrd @INITRD_GI@
}
fi

submenu 'Advanced install options...' --hotkey=a {

        source /boot/grub/theme.cfg

        source	/boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

        source /boot/grub/theme.cfg

        # Memtest (if any)
        if @ENABLE_MEMTEST@; then
                source /boot/grub/memtest.cfg
        fi

        # Firmware setup (UEFI)
        if [ "${grub_platform}" = "efi" ]; then
                menuentry "UEFI Firmware Settings" --hotkey=f {
                        fwsetup
                }
        fi

}
