# Live Image (UEFI boot)
source /boot/grub/config.cfg

menuentry "Live system (@FLAVOUR_LIVE@ forensic mode NVIDIA or AMD)" {
        linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount nouveau.modeset=0
        initrd @INITRD_LIVE@
}
menuentry "Live system (@FLAVOUR_LIVE@ forensic mode NO GRAPHICS DRIVER)" {
        linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount nomodeset nonvidia
        initrd @INITRD_LIVE@
}

# Live boot
@LINUX_LIVE@

# Installer (if any)
if @ENABLE_INSTALL_MENU@; then

source  /boot/grub/install_start.cfg

if [ ! -e /boot/grub/install.cfg ]; then
menuentry "Start installer with speech synthesis" {
        linux @KERNEL_GI@ speakup.synth=soft @APPEND_GI@
        initrd @INITRD_GI@
}
fi

submenu 'Advanced install options...' --hotkey=a {

        source /boot/grub/theme.cfg

        source	/boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

        source /boot/grub/theme.cfg

        # Memtest (if any)
        if @ENABLE_MEMTEST@; then
                source /boot/grub/memtest.cfg
        fi

        # Firmware setup (UEFI)
        if [ "${grub_platform}" = "efi" ]; then
                menuentry "UEFI Firmware Settings" --hotkey=f {
                        fwsetup
                }
        fi

}
