[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Área de trabalho/LED - Montar e Vasculhar.desktop]
row=5
col=0

[0815304C0C15CEBB]
row=0
col=0

[F8C4-EDCC]
row=6
col=0

[2FC1C72E2F3EBA87]
row=1
col=0

[Lixeira]
row=2
col=0

[/]
row=3
col=0

[/home/kali]
row=4
col=0

