label live-forensic-nvidia_pt_BR
        menu label Sistema Live (amd64 ^Modo Forense NVIDIA ou AMD Portugues-BR)
        menu default		
        linux /live/vmlinuz
        initrd /live/initrd.img
        append boot=live username=kali hostname=kali systemd.swap=no noautomount modprobe.blacklist=nouveau locales=pt_BR.UTF-8
		
label live-forensic-SAFE_pt_BR
        menu label Sistema Live (amd64 ^Modo Forense Seguro - desabilita driver NVIDIA Portugues-BR)
        linux /live/vmlinuz
        initrd /live/initrd.img
        append boot=live username=kali hostname=kali systemd.swap=no noautomount nonvidia locales=pt_BR.UTF-8
		
label live-forensic-nvidia
        menu label Live system (amd64 ^Forensic Mode NVIDIA or AMD English)
        menu default		
        linux /live/vmlinuz
        initrd /live/initrd.img
        append boot=live username=kali hostname=kali systemd.swap=no noautomount modprobe.blacklist=nouveau
		
label live-forensic-SAFE
        menu label Live system (amd64 ^Forensic Mode SAFE - disable NVIDIA driver English)
        linux /live/vmlinuz
        initrd /live/initrd.img
        append boot=live username=kali hostname=kali systemd.swap=no noautomount nonvidia	

