label live-forensic-nvidia
        menu label Live system (amd64 ^Forensic Mode NVIDIA or AMD)
        menu default		
        linux /live/vmlinuz
        initrd /live/initrd.img
        append boot=live username=kali hostname=kali systemd.swap=no noautomount modprobe.blacklist=nouveau
		
label live-forensic-SAFE
        menu label Live system (amd64 ^Forensic Mode SAFE - disable NVIDIA driver)	
        linux /live/vmlinuz
        initrd /live/initrd.img
        append boot=live username=kali hostname=kali systemd.swap=no noautomount nonvidia

